<h1><%= t :hello_world %></h1>

<!-- COOL CODE -->
<p><%= t :hello_flash %></p>

<!-- HARD CODE -->
<p><%= flash[:notice] %></p>


<p style="color: green"><%= l Time.now, format: :short %></p>
<p><%= t '.view_scope' %></p>

<p>1.000,000<%= t :currency %></p>
<h2>Product price</h2>
<p><%= t :product_price %></p>
<h4 style="color:red">Flash from controller welcome/index: <%= flash[:notice] %></h4>

<h2>Displaying keys in 'config/locales/en.yml'</h2>
<%= I18n.t 'success.true' %><br>
<%= I18n.t 'success.on' %><br>
<%= I18n.t 'success.false' %><br>
<%= I18n.t 'failure.true' %><br>
<%= I18n.t 'failure.false' %><br>

<p  style="color:blue">Add data/time format: <%= l Time.now, format: :short %></p>

<%= t '.title' %>

<!-- <script>alert('Hello');</script> -->
<h1>Do you want to create a new event?</h1>
<%= link_to 'New Event', new_event_path %> | <%= link_to 'Events', events_path %>

<div>
  <h1> Welcome to Paradise</h1>
  <%=  video_tag("beach.mp4", controls: true, preload: true, size: "720x480") %>
</div>