<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :starts_at %>
    <%= form.date_select :starts_at %>
  </div>

  <div class="field">
    <%= form.label :repeats %>
    <%= form.check_box :repeats %>
  </div>

  <div class="field">
    <%= form.label :repeats_end %>
    <%= form.date_select :repeats_end %>
  </div>


  <div class="field">
    <%= form.color_field :color %>
  </div>

  <div class="actions">
    <%= form.submit 'Save' %>
  </div>
<% end %>
