<p id="notice"><%= notice %></p>

<p>
  <strong>Starts at:</strong>
  <%= @event.starts_at %><br>
  <strong>Repeats:</strong>
  <%= @event.repeats %><br>
  <strong>Repeats end:</strong>
  <%= @event.repeats_end %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
